---
layout: page
---

<div class="row work" id="work">

  <!-- design carousel -->

  <!-- MARIMBA -->
  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/marimba-1.png" title="Marimba is the first chat app for kids that is compliant with the Children’s Online Privacy Protection Act (COPPA). Marimba was designed from the ground up with children’s safety and privacy rights in mind. <a href=&quot;https://itunes.apple.com/us/app/marimba-chat/id942226123?mt=8&ign-mpt=uo%3D4&quot;>Check it out in the App Store!</a>"><img src="/images/marimba-1.png" alt="Marimba app" /></a>
  </div>

  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/marimba-2.png" title="Marimba is the first chat app for kids that is compliant with the Children’s Online Privacy Protection Act (COPPA). Marimba was designed from the ground up with children’s safety and privacy rights in mind. <a href=&quot;https://itunes.apple.com/us/app/marimba-chat/id942226123?mt=8&ign-mpt=uo%3D4&quot;>Check it out in the App Store!</a>"><img src="/images/marimba-2.png" alt="Marimba app" /></a>
  </div>

  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/marimba-3.png" title="Marimba is the first chat app for kids that is compliant with the Children’s Online Privacy Protection Act (COPPA). Marimba was designed from the ground up with children’s safety and privacy rights in mind. <a href=&quot;https://itunes.apple.com/us/app/marimba-chat/id942226123?mt=8&ign-mpt=uo%3D4&quot;>Check it out in the App Store!</a>"><img src="/images/marimba-3.png" alt="Marimba app" /></a>
  </div>

  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/marimba-4.png" title="Marimba is the first chat app for kids that is compliant with the Children’s Online Privacy Protection Act (COPPA). Marimba was designed from the ground up with children’s safety and privacy rights in mind. <a href=&quot;https://itunes.apple.com/us/app/marimba-chat/id942226123?mt=8&ign-mpt=uo%3D4&quot;>Check it out in the App Store!</a>"><img src="/images/marimba-4.png" alt="Marimba app" /></a>
  </div>

  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/marimba-5.png" title="Marimba is the first chat app for kids that is compliant with the Children’s Online Privacy Protection Act (COPPA). Marimba was designed from the ground up with children’s safety and privacy rights in mind. <a href=&quot;https://itunes.apple.com/us/app/marimba-chat/id942226123?mt=8&ign-mpt=uo%3D4&quot;>Check it out in the App Store!</a>"><img src="/images/marimba-5.png" alt="Marimba app" /></a>
  </div>

  <!-- On My Way -->
  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/onmyway-1.png" title="The 'On My Way' app was designed to make it extremely easy for users to share a trip route and ETA with their friends instead of texting while driving to communicate things like 'I'll be there in X minutes'.  <a href=&quot;https://itunes.apple.com/us/app/on-my-way-by-dispatch/id938256922?mt=8&quot;>Check it out in the App Store!</a>"><img src="/images/onmyway-1.png" alt="On My Way app" /></a>
  </div>

  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/onmyway-2.png" title="The 'On My Way' app was designed to make it extremely easy for users to share a trip route and ETA with their friends instead of texting while driving to communicate things like 'I'll be there in X minutes'.  <a href=&quot;https://itunes.apple.com/us/app/on-my-way-by-dispatch/id938256922?mt=8&quot;>Check it out in the App Store!</a>"><img src="/images/onmyway-2.png" alt="On My Way app" /></a>
  </div>

  <!-- Plumage -->
  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/plumage-5.png" title="Plumage is a social fashion app where users can upload photos of themselves wearing their latest outfit to get feedback from the community on what works and what doesn't.  Coming out soon to an app store near you!"><img src="/images/plumage-5.png" alt="Plumage app" /></a>
  </div>

  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/plumage-1.png" title="Plumage is a social fashion app where users can upload photos of themselves wearing their latest outfit to get feedback from the community on what works and what doesn't.  Coming out soon to an app store near you!"><img src="/images/plumage-1.png" alt="Plumage app" /></a>
  </div>

  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/plumage-4.png" title="Plumage is a social fashion app where users can upload photos of themselves wearing their latest outfit to get feedback from the community on what works and what doesn't.  Coming out soon to an app store near you!"><img src="/images/plumage-4.png" alt="Plumage app" /></a>
  </div>

  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/plumage-6.png" title="Plumage is a social fashion app where users can upload photos of themselves wearing their latest outfit to get feedback from the community on what works and what doesn't.  Coming out soon to an app store near you!"><img src="/images/plumage-6.png" alt="Plumage app" /></a>
  </div>

  <!-- Bullseye -->
  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/bullseye-1.png" title="Bullseye is a social stock app which we are currently designing and developing at <a href=&quot;https://thecreamcreative.com&quot;>The Cream Creative</a>"><img src="/images/bullseye-1.png" alt="Bullseye app" /></a>
  </div>

  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/bullseye-2.png" title="Bullseye is a social stock app which we are currently designing and developing at <a href=&quot;https://thecreamcreative.com&quot;>The Cream Creative</a>"><img src="/images/bullseye-2.png" alt="Bullseye app" /></a>
  </div>

  <!-- Extra -->
  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/fantasyfootball-1.png" title="A fantasy football draft screen concept."><img src="/images/fantasyfootball-1.png" alt="Other apps" /></a>
  </div>

  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/figgy-1.png" title="Figgy is an app that allows your friends to help make choices for you.  Currently under development."><img src="/images/figgy-1.png" alt="Other apps" /></a>
  </div>


  <!-- small thumbnails -->
  <div class="large-3 medium-6 small-12 gallery-index columns" >
    <a href="/smacangel" class="smacangel-image" title="SmacAngel Logo"></a>
  </div>
  <div class="large-3 medium-6 small-12 gallery-index columns">
    <a href="/findyourphotog" class="findyourphotog-image" title="FindYourPhotog Logo"></a>
  </div>
  <div class="large-3 medium-6 small-12 gallery-index columns">
    <a href="/workhang" class="workhang-image" title="Work/Hang Logo"></a>
  </div>
  <div class="large-3 medium-6 small-12 gallery-index columns">
    <a href="/dubtrack" class="dubtrack-image" title="Dubtrack Logo"></a>
  </div>


</div>

<div class="row" id="resume">
  {% include resume.html %}
</div>
<div class="row" id="life">
  {% include life.html %}
</div>
