<footer class="site-footer">
  
  <div class="seperator-banner large-5 large-centered small-centered columns"></div>

  <div class="wrap">
    <div class="row footer-icons">
      <div class="small-12 top-footer columns">
        <a href="http://github.com/yofred" class="fa fa-github" title="My beautiful Github page"></a>
        <a href="https://www.facebook.com/yofredmoik" class="fa fa-facebook-square" title="My goddamn facebook page"></a>
        <a href="https://twitter.com/yofred" class="fa fa-twitter" title="My goddamn twitter page"></a>
      </div>
    </div>
  </div>

</footer>
