---
layout: work
title: "Life Blog"
<!-- permalink: /findyourphotog/ -->
---

<div class="row work" id="life">

  <!-- life carousel -->

  <!-- LIFE IN GENERAL -->

  <div class="portfolio-image large-4 medium-6 small-12 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/plumage-1.png" title="Caption"><img src="/images/plumage-1.png" alt="Photo" /></a>
  </div>

  <div class="portfolio-image large-3 medium-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/1.png" title="Caption"><img src="/images/1.png" alt="Photo" /></a>
  </div>

  <div class="portfolio-image large-3 medium-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/1.png" title="Caption"><img src="/images/1.png" alt="Photo" /></a>
  </div>

  <div class="portfolio-image large-3 medium-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/1.png" title="Caption"><img src="/images/1.png" alt="Photo" /></a>
  </div>

  <div class="portfolio-image large-3 medium-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/1.png" title="Caption"><img src="/images/1.png" alt="Photo" /></a>
  </div>

  <div class="portfolio-image large-3 medium-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/1.png" title="Caption"><img src="/images/1.png" alt="Photo" /></a>
  </div>

  <div class="portfolio-image large-3 medium-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/1.png" title="Caption"><img src="/images/1.png" alt="Photo" /></a>
  </div>

  <div class="portfolio-image large-3 medium-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/1.png" title="Caption"><img src="/images/1.png" alt="Photo" /></a>
  </div>

  <div class="portfolio-image large-3 medium-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/1.png" title="Caption"><img src="/images/1.png" alt="Photo" /></a>
  </div>

  <div class="portfolio-image large-3 medium-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group" href="/images/1.png" title="Caption"><img src="/images/1.png" alt="Photo" /></a>
  </div>

</div>
