<div class="row work" id="life">

  <!-- LIFE IN GENERAL -->

  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/01.jpg" title="Boston, MA"><img src="/images/01.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/02.jpg" title="New York City"><img src="/images/02.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/03.jpg" title="Brooklyn"><img src="/images/03.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/04.jpg" title="Brooklyn"><img src="/images/04.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/05.jpg" title="Brooklyn"><img src="/images/05.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/06.jpg" title="Worcester, MA"><img src="/images/06.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/07.jpg" title="New York City"><img src="/images/07.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/08.jpg" title="New York City"><img src="/images/08.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/09.jpg" title="Jamaica"><img src="/images/09.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/10.jpg" title="Lake Tahoe"><img src="/images/10.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/11.jpg" title="Yosemite"><img src="/images/11.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/12.jpg" title="Yosemite"><img src="/images/12.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/13.jpg" title="New York City"><img src="/images/13.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/14.jpg" title="Jamaica"><img src="/images/14.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/15.jpg" title="Venice"><img src="/images/15.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/16.jpg" title="Boston"><img src="/images/16.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/17.jpg" title="Boston"><img src="/images/17.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/18.jpg" title="Drake"><img src="/images/18.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/19.jpg" title="Gloucester, MA"><img src="/images/19.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/20.jpg" title="New York City"><img src="/images/20.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/21.jpg" title="EDM Concert"><img src="/images/21.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/22.jpg" title="Brooklyn"><img src="/images/22.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/23.jpg" title="Mac Miller"><img src="/images/23.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/24.jpg" title="Gloucester, MA"><img src="/images/24.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/25.jpg" title="Ne-Yo"><img src="/images/25.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/26.jpg" title="St. Vincent in Omaha"><img src="/images/26.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/27.jpg" title="Steve Aoki"><img src="/images/27.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/28.jpg" title="Steve Aoki"><img src="/images/28.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/29.jpg" title="Twin Doors Cinema Club"><img src="/images/29.jpg" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/30.jpg" title="Waka Flocka Flame"><img src="/images/30.jpg" alt="Photo" /></a>
  </div>


</div>
