<div class="row work" id="life">

  <!-- LIFE IN GENERAL -->

  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/01.png" title="Boston, MA"><img src="/images/01.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/02.png" title="New York City"><img src="/images/02.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/03.png" title="Brooklyn"><img src="/images/03.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/04.png" title="Brooklyn"><img src="/images/04.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/05.png" title="Brooklyn"><img src="/images/05.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/06.png" title="Worcester, MA"><img src="/images/06.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/07.png" title="New York City"><img src="/images/07.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/08.png" title="New York City"><img src="/images/08.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/09.png" title="Jamaica"><img src="/images/09.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/10.png" title="Lake Tahoe"><img src="/images/10.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/11.png" title="Yosemite"><img src="/images/11.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/12.png" title="Yosemite"><img src="/images/12.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/13.png" title="New York City"><img src="/images/13.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/14.png" title="Jamaica"><img src="/images/14.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/15.png" title="Venice"><img src="/images/15.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/16.png" title="Boston"><img src="/images/16.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/17.png" title="Boston"><img src="/images/17.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/18.png" title="Drake"><img src="/images/18.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/19.png" title="Gloucester, MA"><img src="/images/19.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/20.png" title="New York City"><img src="/images/20.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/21.png" title="EDM Concert"><img src="/images/21.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/22.png" title="Brooklyn"><img src="/images/22.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/23.png" title="Mac Miller"><img src="/images/23.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/24.png" title="Gloucester, MA"><img src="/images/24.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/25.png" title="Ne-Yo"><img src="/images/25.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/26.png" title="St. Vincent in Omaha"><img src="/images/26.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/27.png" title="Steve Aoki"><img src="/images/27.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/28.png" title="Steve Aoki"><img src="/images/28.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/29.png" title="Twin Doors Cinema Club"><img src="/images/29.png" alt="Photo" /></a>
  </div>
  <div class="portfolio-image large-4 small-6 gallery-index columns">
    <a class="fancybox" rel="group2" href="/images/30.png" title="Waka Flocka Flame"><img src="/images/30.png" alt="Photo" /></a>
  </div>


</div>
