<div class="row">
  <div class="large-2 small-12 padding-bottom-resume columns">
    <b>Yofred Moik</b>
  </div>
</div>

<div class="row" id="resume-format">

  <div class="large-2 small-12 columns">
    <div class="seperator-banner small-1 columns"></div><br /><br /><br /><br />
    <b>UI/UX Designer</b>
    <b>Front End Dev</b>
    <br /><br />
    <b>Contact:</b>
    <p class="smaller-text">ytmoik@gmail.com</p>
    <p>508.735.0340</p>
    <a href="http://twitter.com/yofred">@yofred</a>
    <br /><br />
    <b>Portfolio:</b><br />
    <a href="http://dribbble.com/yofred">Dribbble</a> |
    <a href="http://github.com/yofred">Github</a>

    <br /><br /><div class="seperator-banner small-1 columns"></div>
  </div>



  <div class="large-5 small-12 columns">
    <div class="seperator-banner small-1 columns"></div><br /><br /><br /><br />
    <b>I am seeking to</b>
    <p>
Join a team of creatives that love designing and tinkering throughout the entire development of a project from its napkin-sketch conception to its delivery as a well thought out product.
    <p>
    <br />
    <b>My abilities include</b>
    <p>
Design thinking, sketching, wireframing, animation prototyping, with a strong focus on mobile user interface and user experience design.
    <p>
    <br />
    <b>My design work has me using</b>
    <p>
      Sketch, Quartz Composer, Pixate, InVision, Photoshop, Illustrator, InDesign.
    </p>
    <br />
    <b>My coding skills consist of</b>
    <p>
      Ruby on Rails, HTML, CSS/SASS, JavaScript/Jquery, Responsive Design.
    </p>
    <br />
    <b>I graduated from</b>
    <p>
Syracuse University in 2010 where I completed a bachelor degree in industrial and interaction design.
    </p>
    <br />
    <b>References</b>
    <p>are available upon request.</p>
    <br /><br /><div class="seperator-banner small-1 columns"></div>
  </div>

  <div class="large-5 small-12 columns">
    <div class="seperator-banner small-1 columns"></div><br /><br /><br /><br />
    <b>The Cream Creative</b><br>
    <i>UI/UX designer for mobile apps (May 2014 - Current)</i>
    <p>
My responsibilites at this mobile design agency includes wireframing, sketching, prototyping, user testing, creating elegant and intuitive UI, and directly collaborating with developers and product managers to rapidly build and iterate for our many clients.
    </p>
    <a href="http://thecreamcreative.com">The Cream Creative</a>
    <br /><br />
    <b>CARP</b><br>
    <i>Part time remote work for web development (January 2015 - Current)</i>
    <p>
I’m developing a new website for this collegiate non-profit character education organization that’s looking to create a strong web presence and create a membership database.
    </p>
    <a href="http://carplife.org">CARP</a>
    <br /><br />
    <b>Manhattan Center Studios</b><br>
    <i>Multi-media designer (2011-2014)</i>
    <p>
My responsibilites included designing and developing multimedia presentations combining sound, text, video, and animations.  I created presentations for websites and interactive media which were used for events, and corporate materials, and sales tools.
    </p>
    <a href="http://mcstudios.com">MC Studios</a>
    <br /><br />
    <b>Find Your Photog</b><br>
    <i>Personal Project</i>
    <p>
Find Your Photog is a community of photographers where users can upload their photos, create albums, give feedback to images posted from other fellow photographers, and share their contact information in hopes of getting reached by those looking to commission work.  This is a side project I’ve built myself in the summer of 2014.
    </p>
    <a href="http://findyourphotog.herokuapp.com">http://findyourphotog.herokuapp.com</a>
    <br /><br />
    <b>PSFK</b><br>
    <i>Intern (2010)</i>
    <p>
Researched and helped write the popular "Future of Retail" and the "Future of Health" consultancy reports made by this innvation and trends consultancy.
    <p>
    <a href="http://psfk.com">PSFK</a>
    <br /><br />
    <b>Google Maps Envelope Concept</b><br>
    <i>Design concept for a Google product</i>
    <p>
This is a concept I developed with a friend that made some noise on many tech blogs. The idea is that a mail's route are printed directly onto the envelope using Google Maps API. The project was picked up by a company based in Lincoln, Nebraska but is currently in hiatus.
    <p>
    <a href="http://www.engadget.com/2010/03/31/google-envelopes-turns-gmail-into-snail-mail-wraps-it-in-precis/">Engadget article |</a>
    <a href="http://mashable.com/2010/03/31/google-maps-envelopes/">Mashable article</a>
    <br /><br />
    <b>Amara Photo</b><br>
    <i>Co-founder</i>
    <p>
I’m very passionate about photography so I like to shoot weddings on summer weekends with a good friend of mine.  Check out our work!
    <p>
    <a href="http://amaraphoto.com">Amara Photo</a>
    <br /><br /><div class="seperator-banner small-1 columns"></div>
  </div>

</div>
