<div class="row">
  <div class="large-2 small-12 padding-bottom-resume columns">
    <b>Yofred Moik</b>
  </div>
</div>

<div class="row" id="resume-format">

  <div class="large-2 small-12 columns">
    <div class="seperator-banner small-1 columns"></div><br /><br /><br /><br />
    <b>UX/UI Designer</b>
    <b>Front End Dev</b>
    <br /><br />
    <b>Contact:</b>
    <p class="smaller-text">ytmoik@gmail.com</p>
    <p>508.735.0340</p>
    <a href="http://twitter.com/yofred">@yofred</a>
    <br /><br />
    <b>Portfolio:</b><br />
    <a href="http://dribbble.com/yofred">Dribbble</a> |
    <a href="http://github.com/yofred">Github</a>

    <br /><br /><div class="seperator-banner small-1 columns"></div>
  </div>



  <div class="large-5 small-12 columns">
    <div class="seperator-banner small-1 columns"></div><br /><br /><br /><br />
    <b>I am seeking to</b>
    <br /><br />
    <p>
Join a talented team of positive and forward-minded individuals looking to turn ideas from sketches into well-thought-out products that people love.    <p>
    <br />
    <b>My abilities include</b><br />
    <p>
Design thinking, sketching, wireframing, animation prototyping, and a strong focus on mobile user interface and user experience design.
    <p>
    <br />
    <b>My design work has me using</b><br />
    <p>
      Sketch, Principle, InVision, Quartz Composer, Pixate, Creative Suite, etc.
    </p>
    <br />
    <b>My coding abilities include</b><br />

    <p>
      Basic front-end web development.
    </p>
    <br />
    <b>I graduated from</b><br />
    <p>
Syracuse University in 2010 where I completed a bachelor degree in industrial and interaction design.
    </p>
    <br />
    <b>References</b><br />
    <p>are available upon request.</p>
    <br /><br /><div class="seperator-banner small-1 columns"></div>
  </div>

  <div class="large-5 small-12 columns">
    <div class="seperator-banner small-1 columns"></div><br /><br /><br /><br />

    <b>Google</b><br>
    <br />
    <i>Interaction design, consultant (December 2016 - Current)</i>
    <br /><br />
    <p>
      I’m contracting at Google’s Cambridge office to handle mobile user interface and experience design on Google’s Newsstand app for Android and iOS which has millions of daily active users. My responsibilities include collaborating with product managers and stakeholders to make design decisions on future product features, using A/B testing to explore experimental feature implementations, and working with UX researchers to formulate competitive analyses to make informed product design decisions.
    </p>
    <br /><br />

    <b>Lola</b><br>
    <br />
    <i>Product designer (September 2015 - December 2016)</i>
    <br /><br />
    <p>
      Led design on our iOS product which is an augmented chat app that connects travelers to a team of travel agents who book flights, hotels, and car rentals. Responsibilities included user experience, user interface, branding, visual design, wireframing, user testing, and building interactive prototypes. <a href="http://lolatravel.com">Lola Travel</a>
    </p>
    <br /><br />
    <b>Blade</b><br>
    <br />
    <i>Product designer (March 2015 - September 2016)</i>
    <br /><br />
    <p>
Blade was a startup accelerator that focused on consumer-oriented products. I helped conceptualize and execute the product design vision, from wireframes to finished products, for multiple seed-stage startups that were a part of Blade’s investment portfolio. The team at Blade eventually turned into its own startup, Lola. <a href="http://blade.net">Blade</a>
    </p>

    <br /><br />
    <b>The Cream Creative</b><br>
    <br />
    <i>UI/UX designer (May 2014 - March 2015)</i>
    <br /><br />
    <p>
Responsibilities at this mobile app design agency included wireframing, sketching, prototyping, user testing, and creating elegant and intuitive UI. Presented product concepts, app flows, and interactive prototypes to clients. <a href="http://thecreamcreative.com">The Cream Creative</a>
    </p>

    <br /><br />
    <b>Manhattan Center</b><br>
    <br />
    <i>Multimedia designer (2011-2014)</i>
    <br /><br />
    <p>
Responsibilities included designing and developing multimedia presentations combining sound, text, video, and animations. I created interactive media for websites which were used for events, corporate materials, and sales tools.  <a href="http://mcstudios.com">MC Studios</a>
    </p>
    <br /><br />
    <b>Google Maps Envelope Concept</b><br>
    <br />
    <i>Design concept for a Google product</i>
    <br /><br />
    <p>
This is a concept I developed with a friend that had a good amount of exposure on tech blogs. The idea is that a letter's shipping routes were printed onto the envelope using Google Maps API. The project was picked up by a company based in Lincoln, Nebraska but is currently in hiatus.
    </p>
    <a href="http://www.engadget.com/2010/03/31/google-envelopes-turns-gmail-into-snail-mail-wraps-it-in-precis/">Engadget article |</a>
    <a href="http://mashable.com/2010/03/31/google-maps-envelopes/">Mashable article</a>
    <br /><br /><br />
    <b>Amara Photo</b><br>
    <br />
    <i>Co-founder</i>
    <br /><br />
    <p>
I’m very passionate about photography so I like to shoot weddings on summer weekends with a good friend of mine.  Check out our work! <a href="http://amaraphoto.com">Amara Photo</a>
    </p>
    <p>
      <a href="http://kypa.io" style = "color:#ffffff">KYPA</a>
    </p>

    <br /><br /><div class="seperator-banner small-1 columns"></div>
  </div>

</div>
